<div>
  <nav>
    <a routerLink="">Main</a>
    <br />
    <a routerLink="/about">About</a>
  </nav>

  <div class="form-group">
    <h3>Params Object</h3>
    <input type="number" [(ngModel)]="item.id" placeholder="number model" />
    <br />
    <input type="number" [(ngModel)]="item.price" placeholder="price" />
    <br />
    <input type="text" [(ngModel)]="item.product" placeholder="name model" />
    <button (click)="goToItem(item)">Navigate</button>
  </div>
</div>

<router-outlet></router-outlet>
